<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div id="menu">
            <a href="./home.html">Home</a>
            <a href="./aboutthegame.html">About the Game</a>
            <a href="./map.html">Map</a>
        </div>
    </header>
    <br><br><br>
    <div>
        <h1>Here are the rules about the game.</h1><br>
        <p>The game starts in a random room. </p>
        <p>There are two ways you can win.
            <ul>
                <li>First, you can get a key and a potion to escape from the garden.</li>
                <li>Second, you can get a saw and use it to defeat the monster.</li>
            </ul>
            
        </p>
        <p>There are two ways you will loss.
            <ul>
                <li>If you go to the room where the moster lives without a saw, you will lose the game.</li>
                <li>If the game started in a room where the monster lives, you will loss the game immediately.</li>
            </ul>
        </p>
    </div>

    
</body>
</html>