<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div id="menu">
          <a href="./home.html">Home</a>
          <a href="./aboutthegame.html">About the Game</a>
          <a href="./map.html">Map</a>
        </div>
      </header>
    
    <div>
        <br><br><br>
        <h1>Welcome to RPG Game</h1>
        <!-- <img src="../static/homepageImage.jpg" alt="" width=400px hieght=300px> -->
    </div>
</body>
</html>